<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Tween Library Performance - DOM</title>
    <meta name="viewport" content="width=960px" />
    <meta name="google" content="notranslate" />
    <meta name="color-scheme" content="dark" />
    <script src="https://cdn.tailwindcss.com"></script>

    <script type="module">
      import {
        createApp,
        ref,
        computed,
      } from "https://unpkg.com/vue@3.2.4/dist/vue.esm-browser.prod.js";

      const TWEEN_LIST = [
        { label: "GSAP", href: "gsap.html" },
        { label: "Popmotion", href: "popmotion.html" },
        { label: "Anime.js", href: "animejs.html" },
        { label: "Tween24", href: "tween24.html" },
        { label: "CSS Animations", href: "cssanimation.html" },
        { label: "Web Animations API", href: "webanimations.html" },
        { label: "CreateJS", href: "createjs.html" },
        { label: "jQuery", href: "jquery.html" },
        { label: "Tween.js", href: "tweenjs.html" },
        { label: "Velocity", href: "velocity.html" },
      ];

      const app = createApp({
        setup() {
          // ハンバーガーボタンの状態です
          const tweenList = ref(TWEEN_LIST);
          const selected = ref(TWEEN_LIST[0]);
          const numParticles = ref(4000);

          const iframeUrl = computed(
            () => selected.value.href + "?" + numParticles.value,
          );
          return { tweenList, selected, iframeUrl, numParticles };
        },
      });
      app.mount("#app");
    </script>
  </head>
  <body class="bg-slate-900 text-white">
    <div id="app">
      <div class="min-h-full">
        <nav class="bg-gray-800">
          <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="h-16 flex justify-center items-center">
              <h1 class="text-center font-bold text-lg">
                Tween Library Performance - DOM
              </h1>
            </div>
          </div>
        </nav>
      </div>

      <div class="container mx-auto">
        <div class="text-center my-6 flex flex-wrap gap-1 justify-center">
          <button
            v-for="item in tweenList"
            class="px-3 py-2 rounded-md text-sm font-medium"
            :class="selected.href === item.href ? 'bg-gray-700 text-white' : 'text-gray-300 hover:bg-gray-700'"
            :aria-current="selected.href === item.href ? 'page' : undefined"
            :key="item"
            @click="selected = item"
          >
            {{item.label}}
          </button>
        </div>

        <iframe
          class="mx-auto"
          :src="iframeUrl"
          width="800"
          height="600"
        ></iframe>

        <div class="max-w-screen-sm mx-auto my-4">
          <label>Number of Dot Instance </label>
          <input
            class="shadow appearance-none border border-slate-500 rounded w-full py-2 px-3 bg-slate-800 text-gray-200 leading-tight focus:outline-none focus:shadow-outline"
            type="number"
            v-model="numParticles"
            max="50000"
            min="1000"
            step="1000"
          />
        </div>
      </div>

      <div class="fixed bottom-4 right-4">
        <a
          href="https://github.com/ics-creative/170216_tween_performance"
          target="_blank"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          >View Source</a
        >
      </div>
    </div>
  </body>
</html>
